html,body {
  height: 100%;
  overflow: hidden;
}

body {
	background-color: #C7C7C4;
	min-width: 314px; 
	min-height: 181px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-weather-widget {
	background-color: #fff;
	width: 310px;
	height: 175px;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 8px 8px 5px #555;
}

#cv-weather-widget img.loading {
	display: block;
  margin: 25px auto;
}

#cv-weather-widget h1{
	font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

#current-weather{
	display:flex;
	align-items: center;
}

#current-weather .temp{
	font-size:5em;
}

#cv-weather-widget ul#forecast {
	display: flex;
	justify-content: center; 
	margin-top: -10px;
	height: 44px;
}

#cv-weather-widget figcaption, 
#cv-weather-widget li {
	font-size: .85em;
	font-weight: 600;
	text-align: center;
}

#cv-weather-widget #forecast li {
	padding:0 8px;
	border-right: 1px solid #ddd;

	display:flex;
	flex-flow: row wrap;
	align-items: center;
  justify-content: center;
}

#cv-weather-widget #forecast li:last-child{
 border-right: none;
}

 #forecast li .day{
	flex: 0 0 100%;
}

 #forecast li .high-low{
	margin-top: -10px;
	display:block;
	clear: both;
}

/*  Visually hide these, but let screen readers see it */
.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}