html,body {
  height: 100%;
  overflow: hidden;
}

body {
	background: #C7C7C4 ;
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

section {
	background-color: #fff;
	width: 310px;
	height: 175px;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 8px 8px 5px #555;
}

section h1{
	font-size: 20px;
  font-weight: 600;
  margin: 0;
}

section #current-weather{
	display:flex;
	align-items: center;
}

section #current-weather .temp{
	font-size:70px;
}

img.loading {
	display: block;
  margin: 25px auto;
}

ul {
	display: flex;
	justify-content: center; 
	margin-top: -10px;
	height:44px;
}

figcaption, li {
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}

li {
	padding:0 8px;
	border-right: 1px solid #ddd;

	display:flex !important;
	flex-flow: row wrap;
	align-items: center;
  justify-content: center;
}

li .high-low{
	margin-top: -10px;
}

li:last-child{
 border-right: none
}